/* body {
  background-color: #f3eeea;
}

#page-navbar {
  background-color: #b0a695;
}

#page-footer {
  background-color: #b0a695;
} */

body {
  background-color: #eef5ff;
}

#page-navbar {
  background-color: #86b6f6;
}

#page-footer {
  background-color: #86b6f6;
}
