{% include "main.html" %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <div class="card mx-auto my-3" style="width: 40rem;">
                <div class="card-body">
                    <h5 class="card-title"><strong>Пароль сброшен</strong></h5>
                    <p class="card-text">
                        Мы отправили Вам на электронную почту инструкию по установке нового пароля.
                    </p>
                    <p class="card-text">
                        Если Вы не получили письмо с инструкцией, проверьте правильность введенного адреса электронной почты, а также папку спам.
                    </p>        
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
