{% include "main.html" %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <div class="card mx-auto my-3" style="width: 40rem;">
                <div class="card-body">
                    <h5 class="card-title"><strong>Сброс пароля завершен</strong></h5>
                    <p class="card-text">
                        Ваш пароль успешно изменен, можете войти в аккаунт.
                    </p>
                    <a class="btn btn-outline-success btn-sm card-link mx-1" href="{% url 'login' %}" role="button">
                        <i class="fa-solid fa-right-to-bracket"></i> Войти
                    </a>     
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
