{% include "main.html" %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <div class="card mx-auto my-3" style="width: 40rem;">
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <h5 class="card-title">Вы действительно хотите удалить <strong>{{ book.title }}</strong> из библиотеки?</h5>
                        <div class="d-flex justify-content-between my-3">
                            <a class="btn btn-outline-primary btn-sm" href="{% url 'books' %}" role="button">
                                <i class="fa-solid fa-chevron-left"></i> Назад
                            </a>
                            <button type="submit" class="btn btn-outline-danger btn-sm">
                                <i class="fa-solid fa-trash"></i> Удалить
                            </button>                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}