{% include "main.html" %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <div class="mx-auto my-3">
                <h2>Добро пожаловать в Библиотеку</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <div class="card mx-auto my-3" style="width: 40rem;">
                <div class="card-body">
                    <p class="card-text">
                        Данный проект создан для удобной каталогизации вашей библиотеки книг.
                    </p>
                    <p class="card-text">Заполнив книжную карточку и добавив её в картотеку,
                         вы с легкостью сможете найти книгу в ваших шкафах и книжных полках.
                    </p>
                    <p class="card-text">Для работы с Библиотекой 
                        <a href="{% url 'register' %}">создайте</a> аккаунт 
                        или <a href="{% url 'login' %}">войдите</a>
                         в уже существующий аккаунт
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
