{% block content %}

<nav class="navbar navbar-expand-lg border-bottom border-body" style="background-color: #F2F1EB;">
  <div class="container-fluid">
    <a class="navbar-brand me-auto" href="{% url 'books' %}"><i class="fa-solid fa-book"></i> Библиотека</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
        <a 
          class="nav-link{% if request.path == '/' %} active{% endif %}" 
          aria-current="page" 
          href="{% url 'books' %}"
        >
          Все книги
        </a>
        <a 
          class="nav-link{% if request.path == '/add-book/' %} active{% endif %}" 
          href="{% url 'add-book' %}"
        >
          Добавить книгу
        </a>
        <a 
          class="nav-link{% if request.path == '/about/' %} active{% endif %}" 
          href="{% url 'about' %}"
        >
          О проекте
        </a>
      </div>
    </div>
  </div>
</nav>


{% endblock content %}